ion-tab-button {
  --color-selected: #DBE6E9;
  --color: #528791;
  padding-top: 10px !important;
}

ion-tab-bar {
  padding-bottom: max(16px, env(safe-area-inset-bottom)) !important;
  --background: #132D32;
}

ion-label {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

