<div class="wizard">
    <a routerLink="/wizards" class="back"><chevron-left-icon></chevron-left-icon></a>
  
    <div class="image-container">
        <img [src]="secretWizard().image" [alt]="secretWizard().name" class="lg:translate-y-56">
    </div>
  
    <div class="general">
        <h1 class="name">{{secretWizard().name}}</h1>

        <div class="altered-names-container">
            @for (alternateName of secretWizard().alternate_names; track alternateName) {
                <p class="altered-names">{{ alternateName }}{{ !isLast(alternateName) ? '&nbsp;·&nbsp;' : '' }}</p>
              }
        </div>

        <ul class="vignette-container">
            <li class="bg-[#c64191]">{{secretWizard().species}}</li>
            <li class="bg-[#9c95dc]">{{secretWizard().wizard}}</li>
            <li class="bg-[#0e1a40]">{{secretWizard().house}}</li>
        </ul>
    </div>
  
    <div class="secondary">
      <ul class="info-container">
        <li class="info">
          <h2>Gender</h2>
          <p>{{secretWizard().gender}}</p>
        </li>
  
        <span class="divider"></span>
  
        <li class="info">
          <h2>Birth</h2>
          <p>{{secretWizard().dateOfBirth}}</p>
        </li>
  
        <span class="divider"></span>
  
        <li class="info">
          <h2>Ancestry</h2>
          <p>{{secretWizard().ancestry}}</p>
        </li>
  
        <span class="divider"></span>
  
        <li class="info">
          <h2>Eye colour</h2>
          <p>{{secretWizard().eyeColour}}</p>
        </li>
  
        <span class="divider"></span>
  
        <li class="info">
          <h2>Hair colour</h2>
          <p>{{secretWizard().hairColour}}</p>
        </li>
  
        <span class="divider"></span>
  
        <li class="info">
          <h2>Patronus</h2>
          <p>{{secretWizard().patronus}}</p>
        </li>
      </ul>
    </div>
  </div>
    