<div class="p-5 card" (click)="navigateToWizard()">
  <div class="image-container">
    <img [src]="secretWizard().image" [alt]="secretWizard().name">
  </div>

  <div>
    <h2 class="name">{{secretWizard().name}}</h2>
      <div class="altered-names-container">
        @for (alternateName of secretWizard().alternate_names; track alternateName) {
          <p class="altered-names">{{ alternateName }}{{ !isLast(alternateName) ? '&nbsp;·&nbsp;' : '' }}</p>
        }
      </div>
  </div>
</div>