<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Wizards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Wizards</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="m-4 tablet:m-8">
    <ion-searchbar [(ngModel)]="searchInput" class="py-0 custom-searchbar mb-8" mode="ios" (ionInput)="filteredWizards()" placeholder="Search"></ion-searchbar>

    <div class="space-y-4">
      <ng-container>
        <app-secret-card></app-secret-card>
        
        @if (searchInput().length > 0) {
          @if (filteredWizards().length > 0) {
            @for (wizard of filteredWizards(); track wizard) {
              <app-wizard-card [wizard]="wizard"></app-wizard-card>
            }
          } @else {
            <p class="text-xl text-white">No results found</p>
          }
        } @else {
          @for (wizard of wizards(); track wizard) {
            <app-wizard-card [wizard]="wizard"></app-wizard-card>
          }
        }
      </ng-container>
    </div>
  </div>

</ion-content>
