<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Spells</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Spells</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="m-4 tablet:m-8">
    <ion-searchbar [(ngModel)]="searchInput" class="py-0 custom-searchbar mb-8" mode="ios" (ionInput)="filteredSpells()" placeholder="Search"></ion-searchbar>

    <div class="space-y-4">
      <ng-container>
      <!--
      TODO : replace *ngIF by new Angular Control Flow @if / @else (DONE)
      <ng-container *ngIf="searchInput.length > 0">
        TODO : replace *ngFor by new Angular Control Flow (DONE) 
        <app-spell-card *ngFor="let spell of filteredSpells()" [spell]="spell"></app-spell-card>
        TODO : add empty message if no results (DONE)
      </ng-container>

      <ng-container *ngIf="searchInput.length <= 0">
        TODO : replace *ngFor by new Angular Control Flow (DONE)
        <app-spell-card *ngFor="let spell of spells()" [spell]="spell"></app-spell-card>
      </ng-container>
      -->

        @if (searchInput().length > 0) {
          @if (filteredSpells().length > 0) {
            @for (spell of filteredSpells(); track spell) {
              <app-spell-card [spell]="spell"></app-spell-card>
            }
          } @else {
            <p class="text-xl text-white">No results found</p>
          }
        } @else {
          @for (spell of spells(); track spell) {
            <app-spell-card [spell]="spell"></app-spell-card>
          }
        }
      </ng-container>
    </div>
  </div>

</ion-content>
