ion-searchbar.custom-searchbar {
  --background: #2F4D53;
  --color: #2CBBDD;
  --placeholder-color: #53A7BC;
  --icon-color: #2CBBDD;
  --clear-button-color: #2CBBDD;
  border-radius: 12px;
  border: 1px solid #2CBBDD;
  background: #2F4D53;

  @apply xl:w-2/3 xl:place-self-center;
}
